/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: cursive;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}
.bg-gray{
  background-color: #c4c4c4;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.p-5 {
  margin: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.row-fluid{
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #828282;
 color: #fff;
}
.nav-links {
  margin-right: auto;
  margin-left: 50px;
}
.nav-links a {
 color: #fff;
}
.nav-links-login a {
 color: #fff;
}

/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}

.menu-login {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu-login li:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu-login li {
 padding: 5px 14px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.square {
  background-color: #bdbdbd;
  width: 200px;
  height: 200px;
  margin-top: 10px;
}
.btn-join-us{
  background-color: #4f4f4f;
  color:white;
  width: 150px;
  height: 40px;
  font-size: 16px;
}
.date-next-meetup{
  font-size: 13px;
  color: #b0b0b0;
}